## Глава 2. Объекты Series

**Series** - одномерный маркированный массив однородных данных. *Массив (array)* - это упорядоченный набор значений (где данные одного типа). Каждому значению соответствует *метка (label)* - индетификатор, с помощью которого можно сослаться на это значение. Также Series присуща *упорядоченность* - позиция по номеру (начинается с 0).

In [10]:
# Назначим псевдонимы библиотекам. Далее можно обращаться через них к атрибумат библиотеки:
# pd.атрибут
# np.атрибут

import pandas as pd
import numpy as np

**Класс (Class)** - это схема объекта Python. Класс pd.Series представляет собой шаблон, так как далее нам нужно создать конкретный его экзампляр. Мы создаем эеземпляр (объект) класса с помощью скобок.

In [11]:
# Создадим объект Series на основе класса Series:

pd.Series()

C:\Users\Евгений\AppData\Local\Temp\ipykernel_4988\336788544.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

C результатом мы получим предупреждение в красной прямоугольнике. Оно обращает внимание на то, что мы не указали никаких сохраняемых значений, бибилиотека pandas  не делает никаких выводов о типе хранимых этим Series значений.


**Наполним Series значениями:**

Для создания объекта из класса служит специальный тип метода - *конструктор (construstor)*. При создании объекта нужно задать начальное состояние, путем передачи аргументов. *Аргумент* - это передаваемое методу входное значение. Первый аргумет конструктора Series - это итерируемый объект, значениями из которого и будет наполняться объект Series.

In [12]:
# Присвоим список переменной и передадим его в конструктор Series (Пример 1)

ice_cream_flavors = [
    'Chocolate',
    'Vanilla',
    'Strawberry',
    'Rum Raisin'
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

**!**

*Параметр (parameter)* - название, присваиваемое входному значению функции или метода.

Получить документацию с параметрами и аргументами по умолчанию можно, нажав **Shift + tab** с курсором внутри скобок нужного аргумента

Например, в конструкторе Series описано шесть параметров: data, index, name, copy, fastpath. Первый аргуметр *data* должен содержать объект, значениями которого будет заполняться объект Series.

In [13]:
# Второй вариант заполнения data в Примере 1

pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

Набор целых чисел слева - *индексы (index)*. Они служат для обозначения и описания как наора идентификаторов, так и отдельного индетификатора.

Мы может задать собстренные индекты, например, не числа:

In [14]:
days_of_week = ('Monday', 'Wednesday', 'Friday', 'Saturday')

pd.Series(data = ice_cream_flavors, index = days_of_week)
# Идентично: pd.Series(ice_cream_flavors, days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

**Создание объекта Series с пропущенными значениями**

**NaN** - not a number, нечисловое значение, то есть условный объект обозначающий пустое или отсутствующее значение.

In [15]:
temperatures = [94, 100, np.nan, 91]
pd.Series(temperatures)

0     94.0
1    100.0
2      NaN
3     91.0
dtype: float64

**Создание объектов Series на основе объектов Python**

*Ассоциативный массив, словарь (dictionary)* - набор ключ-значение.

*Кортеж (tuple)* - неизменяемый список. После создания кортежа добавлять, удалять или заменять его элементы нельзя.

*Множество (set)* - неупорядоченный набор уникальныъ значений. **Если попытаться передать множество в конструктор Series, то получим ошибку TypeErrror, поскольку для множеств не определены порядок (как у списка), так и связь (как у словаря)

In [16]:
# Пример словаря

calorie_info = {
    'Apple': 75,
    'Cereal': 125,
    'Chocolate': 405
}

diet = pd.Series(calorie_info)
diet

Apple         75
Cereal       125
Chocolate    405
dtype: int64

In [17]:
# Пример кортежа

Color_tuple = ('Red', 'Black', 'Blue', 'Green')

pd.Series(data = Color_tuple)

0      Red
1    Black
2     Blue
3    Green
dtype: object

In [18]:
# Пример ошибки множества

my_set = {'Rick', 'Bob', 'Alex'}

pd.Series(my_set)

TypeError: 'set' type is unordered

### Атрибуты Series

*Атрибут -* это относящийся к объекты элемент данных. Они ракрывают информацию о внутреннем состоянии объекта. Значение атрибута может представлять собой другой объект.

**.values** - атрибут позволяет общаться к объекту ndarray, в котором хранятся значения.

**type()** - вернет класс (тип), экземпляром которого является данный объект.

**.index** - возвращает объекты Index с метками Series.

**.dtype** - возвращает тип данных значений объекта Series.

**.size** - количество значений в объекте Series.

**.shape** - возвращает кортеж с размерностями структуры данных. Для одномерного объекта Series единственное значение этого кортежа совпадает с размером этого Series.

**.is_unique** - возвращает True, если все значения Series уникальны.

**.is_monotonic** - возвращает True, если каждое значение объекта Series больше предыдущего или равно ему.

In [19]:
diet.values

array([ 75, 125, 405], dtype=int64)

In [20]:
type(diet.values)

numpy.ndarray

In [21]:
diet.index

Index(['Apple', 'Cereal', 'Chocolate'], dtype='object')

In [22]:
diet.dtype

dtype('int64')

In [23]:
diet.size

3

In [24]:
diet.shape

(3,)

In [25]:
diet.is_unique

True

In [26]:
pd.Series(data = [3, 3, 3]).is_unique

False

In [27]:
pd.Series(data = [1, 2, 3]).is_monotonic

C:\Users\Евгений\AppData\Local\Temp\ipykernel_4988\477176874.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series(data = [1, 2, 3]).is_monotonic

True

In [28]:
pd.Series(data = [10, 2, 33]).is_monotonic

C:\Users\Евгений\AppData\Local\Temp\ipykernel_4988\3360125340.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  pd.Series(data = [10, 2, 33]).is_monotonic

False

*Атрибут -* это какие-либо относящиеся к объекту данные

*Метод -* это относящиеся к объекты функции, то есть какие-либо действия или команда, которые должны выполниться.

Атрибуты определяют *состояние* объекта, а методы - его *поведение*.

**Методы**

**.head(n)** - возвращает строки из начала набора данных. По умолчанию 5 или же можно задать n.

**.tail()** - аналогично строки с конца набора.

In [29]:
# Создадим объект из диапазона чисел от 0 до 500 с шагом 5

values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [30]:
nums.head(3)

# nums.head(n = 3)

0     0
1     5
2    10
dtype: int64

In [31]:
nums.tail(7)

93    465
94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

### Математические операции

**.count()** - служит для подсчета числа непустых значений.

**.sum()** - суммирует значения объекта Series. 

**.sum(skipna = False)** - Большинство математических методов по умолчанию игнорирует отсутствующие значения. Чтобы включить их в расчеты, можно передать аргумет False для параметра skipna.

**.sum(min_count = n)** - задает минимальное количество допустимых значений для подсчета суммы объекта.

**.product()** - перемножает все значения объекта Series. Данный метод использует аргументы skipna и min_count.

In [32]:
# Создадим объект Series на основе списка чисел

numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [33]:
numbers.count()

5

In [34]:
numbers.sum()

15.0

In [35]:
numbers.sum(skipna = False)

nan

In [36]:
numbers.sum(min_count = 3)

15.0

In [37]:
# Получим ошибку, если зададим бОльшее количество минимальных значений

numbers.sum(min_count = 30)

nan

In [38]:
numbers.product()

120.0

In [39]:
numbers.product(skipna = False)

nan

In [40]:
numbers.product(min_count = 2)

120.0

**.cumsum()** - нарастающая сумма. Возвращает *новый объект Series*, содержащий скользящую сумму.

* Нарастающая сумма на позиции с индексом 0 равна 1.0 - первому значению из объекта Series. Складывать его пока не с чем.
* Далее нарастающая сумма складывает значения
* Суммировать со значением nan невозможно, поэтому далее возвращается nan
* После суммирование продолжается

**.cumsum(skipna = False)** - сумма будет отражаться до индекса, по которому встречается первое отсутствующее значение, для остальных выведется nan

**.pct_change()** - процентное изменение. оно возвращает процентную разницу между последовательными значениями объекта. По умолчанию метод реализует стратегию заполнения предыдущим значением (forward-fill) для отсутствующих значений, то есть nan заменяется последним из встреченных допустимых значений.

* Значение с индексом 0 еще не имеет числа для сравнения, поэтому получаем результат NaN
* Далее сравниваются первое значние 1.0 и второе 2.0. Их разница 100%, то есть в два раза. Поэтому получаем результат 1.0
* При встречи с NaN оно заменяется на предыдущее, то есть 3.0 сравнивается с 3.0. Разница равна 0%

**.pct_change(fill_method = '')** - данный параметр позволяет задавать способ замены значений NaN. По умолчанию он заменяется на предыдущее значение - это значения аргуметов 'pad' и 'ffill'. Можно также задать заполнение *последующим значением* = 'bfill'

**.mean()** - возвращает среднее значение

**.median()** - возвращает медиану, то есть число по середине

**.std()** - стандартное отклонение, то есть меру отклонения данных от среднего значения

**.min()** и **.max()** - минимальное и максимальное значения, соответственно

**describe()** - получить всю сводную информацию по данным параметрам

**.sample(n)** - случайный набор значений из объекта. n - количество объектов

**.unique()** - возвращает NumPy-объект array, содержащий уникальные значения

**.nunique()** - возвращает количество уникальных значений

In [41]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [42]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [43]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [44]:
numbers.pct_change(fill_method = 'bfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [45]:
numbers.mean()

3.0

In [46]:
numbers.median()

3.0

In [47]:
numbers.std()

1.5811388300841898

In [48]:
numbers.min()

1.0

In [49]:
numbers.max()

5.0

In [50]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [51]:
numbers.sample(3)

1    2.0
2    3.0
5    5.0
dtype: float64

In [52]:
num = pd.Series(
    [1, 1, 2, 3, 3, 3, 4, 1, 2, 3, 4]
)
num.unique()

array([1, 2, 3, 4], dtype=int64)

In [53]:
num.nunique()

4

### Арифметические операции

In [54]:
# Создадим объект Series с целочисленными хначениями и одним отсутствующим значением

s1 = pd.Series(
    data = [5, np.nan, 15], index = ['A', 'B', 'C']
)

s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [56]:
# s1 + 3
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [59]:
# s1 - 5
# s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [60]:
# s1 * 2
# s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [61]:
# s1 / 2
# s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [62]:
# s1 // 4 - деление с округлением до целого вниз
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [63]:
# s1 % 3 - возвращение остатка от деления
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

**Транслирование** - вычисление массива на основе другого массива. Например, синтаксис *s1 + 3* означает, что нужно применить одну и ту же операцию (прибавление 3) к каждому объекту Series. Все объекты получают одно сообщение, как слушатели радиостанции, поэтому используется термин "транслирование".

In [64]:
# Считает количество объектов, включая NaN

cities = pd.Series(
    data = ['Moscow', 'Tver', np.nan, 'Omsk']
)

len(cities)

4

In [65]:
# Функция возвращает список атрибутов и методов объекта

dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [66]:
# Можно превратить объект Series в список

list(cities)

['Moscow', 'Tver', nan, 'Omsk']

In [68]:
# или в словарь

dict(cities)

{0: 'Moscow', 1: 'Tver', 2: nan, 3: 'Omsk'}

С помощью ключевого слова **in** проверить вхождение в объект. Особенность состоит в том, что при проверки вхождения в объект Series мы проверяем индексы, а чтобы проверить значение, то стоит использовать атрибут **.values**.

Аналогичное использование **not in**.

In [69]:
'Moscow' in cities

False

In [70]:
2 in cities

True

In [71]:
'Moscow' in cities.values

True